<style>
  body {
  padding-top: 70px;
  }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ditter</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">ホーム</a></li>
        <li><a href="./reply.php">返信</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#postModal">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 投稿
          </button>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 更新</a>
        </li>
        <li>
          <%= link_to "サインアウト", signout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- postModal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="postModalLabel">新規投稿</h4>
      </div>
      <div class="modal-body">
		<%= form_for [@current_user, @current_user.posts.build] do |f| %>
		<div class="form-group">
		  <%= f.label :text, "メッセージ（140字まで）" %>
		  <%= f.text_area :text, :class => "form-control", :maxlength => "140" %>
		  </div>
		  <%= f.submit '投稿する', :class => "btn btn-primary" %>
		<% end %>
      </div>
    </div>
  </div>
</div>
<!-- replyModal -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="replyModalLabel">リプライ</h4>
      </div>
      <div class="modal-body">
        <form action="index.php" method="post">
          <div class="form-group">
            <label for="replyText" class="control-label">メッセージ（140字まで）：</label>
            <textarea class="form-control" id="replyText" name="postText" maxlength="140"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">返信する</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-4">
      <div class="panel panel-default visible-xs">
        <div class="panel-heading">
          <h3 class="panel-title">新規投稿</h3>
        </div>
        <div class="panel-body">
          <form action="index.php" method="post">
            <div class="form-group">
              <textarea class="form-control" id="postText" name="postText" maxlength="140"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">投稿</button>
          </form>
        </div>
      </div>
      <!-- 全員の投稿表示領域 -->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">みんなの投稿</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
		  <% @current_user.posts.each do |post| %>
		  <% if post.id != nil %>
		  <li class="list-group-item">
            <div class="container-fluid">
              <h5><%= @current_user.user_name %></h5>
              <p class="small text-muted reply-to">@<%= @current_user.screen_name %></p>
              <p><%= post.text %></p>
              <p class="small">created_at: <%= post.created_at %></p>
              <p class="text-right">
                <button type="button" class="btn btn-primary reply-btn" data-toggle="modal" data-target="#replyModal">
                返信する
                </button>
				<%= link_to "削除する", user_post_path(post.user_id, post.id), method: :delete, :class => "btn btn-danger" %> 
              </p>
            </div>
          </li>
		  <% end %>
		  <% end %>
        </ul>
      </div>
      <!-- 前へ・次へ表示領域 -->
	  <div class="container-fluid text-center">
		<nav>
		  <ul class="pager">
			<li class="previous">
			  <a href="">
				<span aria-hidden="true">&larr;</span> Newer
			  </a>
			</li>
			<li class="next">
			  <a href="">
				Older <span aria-hidden="true">&rarr;</span>
			  </a>
			</li>
		  </ul>
		</nav>
	  </div>
    </div>
    <!-- ユーザ情報表示領域 -->
	<div class="col-sm-4 col-sm-pull-8">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title">ユーザ情報</h3>
		</div>
		<div class="panel-body">
		  <h4 class="leader">
			<%= @current_user.user_name %>
		  </h4>
		  <p class="small text-muted">
			@<%= @current_user.screen_name %>
		  </p>
		  <p>
			<%= @current_user.comment %>
		  </p>
		</div>
	  </div>
	</div>
  </div>
</div>
